<!DOCTYPE html>
<html>
<head>
  <title>
    <% if content_for(:title) %>
      <%= yield(:title) %>
    <% else %>
      Get a Ticketee
    <% end %>
  </title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>

</head>
<body>
<header>NO header
</header>
  <div class="partial-exercice">
    <%= render :partial => 'shared/signup' %>
  </div>

<!-- Flash Message place-->
<% flash.each do |key, value| %>
  <div class='flash' id='<%= key %>'>
    <%= value %>
  </div> 
<% end %>
<!--Flash end -->

<nav>
 <span class="Accueil">
    <%= link_to "Ticketee Accueil", root_path %>
</span>

  <% if user_signed_in? %>
     <ul class="nav navbar-nav">
         
          <% unless user_signed_in? %>
          <li class="<%= "active" if current_page?("/users/sign_up") %>">
              <%= link_to "Sign up", new_user_path %>
          </li>
          <li class="<%= "active" if current_page?("/users/sign_in") %>">
              <%= link_to "sign in", new_user_path %>
          </li>
          <% end %>
        
      </ul>
      <% end %>
</nav>

        <div> 
          <ul>
           <li class="<%= "active" if current_page?("/") %>">
            <%= link_to "Home", root_path %>
          </li> 
          <li>
            <%= link_to 'Projects Menu', projects_path %>
            Signed in as <%= current_user.email %>
          </li>
        </ul>
        </div>

<%= yield %>

</body>
</html>