<!DOCTYPE html>
<html>
<head>

  <!--Reference from Show's template-->
  <title><%= @title || "Get Ticketee" %></title>


  <title>
    <% if content_for?(:title) %>
    <%= yield(:title) %>
    <% else %>
    Get your Ticketee !
    <% end %>
  </title>
  <%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
     <!--[if lt IE 9]>
      <script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/r29/html5.min.js">
      </script>
      <![endif]-->
    </head>
    <body>
      <!--include an navigation-->
      <header class="navbar navbar-fixed-top navbar-inverse">

        <div class="container">
          
          <!--flash message -->
          <% flash.each do |key, value| %>
          <div class='flash' id='<%= key %>'>
            <%= value %>
          </div>
          <% end %>

        </div>
      </header>

      <div class="container">
        <%= yield %>
      </div>

    </body>
    </html>